.instructor-add-exam menu-panel {}

.instructor-add-exam input[type="text"],
.instructor-add-exam input[type="date"],
.instructor-add-exam textarea {
    width: 100%;
    background-color: var(--font-colorL);
    color: var(--font-colorD);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: var(--border-radius-textbox);
    box-sizing: border-box;
    font-family: var(--font-default);
}

.add-exam-first-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
}

.add-exam-second-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

.dash {
    margin-top: 55px;
    align-items: center;
    display: inline-block;
    width: 40px;
    border-top: 3px solid black;
}

.bottom-buttons {
    text-align: right;
    gap: 20px;
    background-color: beige;
}

.add-exam-question textarea {
    width: 100%;
    min-height: 100px;
    background-color: var(--font-colorL);
    color: var(--font-colorD);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: var(--border-radius-textbox);
    box-sizing: border-box;
    font-family: var(--font-default);
}

.add-exam-question {
    background-color: burlywood;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.add-exam-question h3 {
    padding-left: 2.5%;
    font-size: 30px;
}

.add-exam-question-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    align-items: flex-start;
}

.question-box {
    width: 25%;
    max-width: 100%;
    max-height: 425px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.question-box h3 {
    text-align: center;
    padding-bottom: 5px;
}

.question-box-inside {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    overflow: scroll;
    align-content: flex-start;
}

.question-button {
    max-width: 100px;
    text-align: center;
    flex-shrink: 0; 
    margin: 5px;
}

.question-block {
    width: 70%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}