/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("@fortawesome/fontawesome-free/css/all.min.css");

:root {
  /* Global Variables. Use these in code like "var(--green-base)" */

  /* Green Colors (Brockport Official) */
  --green-base: rgb(0, 82, 62);
  --green-L: rgb(3, 92, 70);
  --green-D: rgb(2, 74, 56);

  /* Gold Colors (Brockport Official) */
  --gold-base: rgb(225, 199, 58);
  --gold-L: rgb(255, 210, 75);
  --gold-D: rgb(200, 175, 50);

  /* Red Colors (EduAlly) */
  --red-base: rgb(238, 50, 60);
  --red-L: rgb(255, 80, 90);
  --red-D: rgb(200, 40, 50);

  /* Gray Colors (EduAlly) */
  --gray-base: rgb(200, 200, 200);
  --gray-L: rgb(220, 220, 220);
  --gray-D: rgb(180, 180, 180);

  /* Brockport Official "Secondary Colors" */
  --sec-greenL: rgb(120, 157, 74);
  --sec-greenD: rgb(87, 121, 53);
  --sec-gold: rgb(255, 164, 0);

  /* Gradients */
  --gradient-green: linear-gradient(to bottom, var(--green-L), var(--green-base), var(--green-D));
  --gradient-greenL: linear-gradient(to bottom, var(--green-L), var(--green-base));
  --gradient-greenD: linear-gradient(to bottom, var(--green-base), var(--green-D));

  --gradient-gold: linear-gradient(to bottom, var(--gold-L), var(--gold-base), var(--gold-D));
  --gradient-goldL: linear-gradient(to bottom, var(--gold-L), var(--gold-base));
  --gradient-goldD: linear-gradient(to bottom, var(--gold-base), var(--gold-D));

  --gradient-red: linear-gradient(to bottom, var(--red-L), var(--red-base), var(--red-D));
  --gradient-redL: linear-gradient(to bottom, var(--red-L), var(--red-base));
  --gradient-redD: linear-gradient(to bottom, var(--red-base), var(--red-D));

  --gradient-gray: linear-gradient(to bottom, var(--gray-L), var(--gray-base), var(--gray-D));
  --gradient-grayL: linear-gradient(to bottom, var(--gray-L), var(--gray-base));
  --gradient-grayD: linear-gradient(to bottom, var(--gray-base), var(--gray-D));

  /* Shadows */
  --box-shadow: 0px 5px 5px var(--shadow-color), inset 0px 1px 1px rgba(255, 255, 255, 0.15);
  --box-shadow-pressed: inset 0px 5px 5px var(--shadow-color), 0px 1px 1px rgba(255, 255, 255, 0.15);

  /* Global Border Radius */
  --border-radius: 25px;

  /* Shadow Colors */
  --shadow-color: rgba(0, 0, 0, 0.25);
  --text-shadow-color: rgba(0, 0, 0, 0.5);

  /* Font Stuffs */
  font-size: 15px;
  --font-colorL: rgb(255, 255, 255);
  --font-colorM: rgb(41, 41, 41);
  --font-colorD: rgb(0, 0, 0);
  --font-defualt: "Inter", sans-serif;

  /* Consistent Design */
  --border-radius: 25px;
}

/* Temp */
.main-workspace a {
  height: 20px;
  margin-inline: 5px;
  padding-inline: 5px;
  font-weight: 700;
}

/* Reset margins and padding for body */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* General heading styles */
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2rem);
}

h3 {
  display: inline;
  font-size: 1.5rem;
  font-weight: 600;
}

i {
  font-size: 1.5rem;
  padding-inline: 10px 20px;
}


.main-content { /* Everything but the Nav (includes Header) */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% - clamp(200px, 20vw, 350px));
}


.main-workspace { /* Everything but the Nav and Header */
  width: calc(100% - 50px);
  padding: 25px;
  box-shadow: 0 15px 15px -15px var(--shadow-color) inset;
  overflow-y: scroll;
  min-height: calc(100vh - 150px);
  max-height: calc(100vh - 160px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-panel {
  background: var(--gradient-gray);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 25px;
  margin: 15px;
}

button {
  background: var(--gradient-gray);
  border: 0;
  font-family: var(--font-defualt);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--font-colorD);
  padding: 10px 50px 13px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: 0.1s;
}

button:hover {
  cursor: pointer;
  background: var(--gradient-grayL);
  box-shadow: var(--box-shadow);
}

button:active {
  transition: 0.1s;
  transform: translateY(1px);
  background: var(--gradient-grayD);
  box-shadow: var(--box-shadow-pressed);
  text-shadow: 0 3px 3px var(--shadow-color);
}

button.green {
  background: var(--gradient-green);
  color: var(--font-colorL);
}
button.green:hover {
  background: var(--gradient-greenL);
}
button.green:active {
  background: var(--gradient-greenD);
}

button.gold {
  background: var(--gradient-gold);
  color: var(--font-colorD);
}
button.gold:hover {
  background: var(--gradient-goldL);
}
button.gold:active {
  background: var(--gradient-goldD);
}

button.red {
  background: var(--gradient-red);
  color: var(--font-colorL);
}
button.red:hover {
  background: var(--gradient-redL);
}
button.red:active {
  background: var(--gradient-redD);
}