/* Add your page-specific css here.*/

.question-page {
  display: flex;
  width: 1000px;
  height: 500px;
  flex-direction: row;
  background: blue;
}

.exam-question-questionbox {
  width: 500px;
  flex-shrink: 1;
}

.exam-question-info {
  width: 300px;
  flex-shrink: 1;
}
